/* Global for mobile */
form {
    padding: 0em 1em;
    display: flex;
    flex-direction: column;
}
input, textarea {
    padding: 0.5em;
    border-radius: 5px;
    margin: 0.5em 0em 1.5em 0em;
    font-size: large;
}
button {
    width: 30%;
}
.error {
    display: none;
}

span {
    font-style: italic;
    font-size: smaller;
}
.submit_success {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 164, 88, 0.6);

}
/* Tablet */
@media only screen and (min-width: 641px) {
	main {
        max-width: 600px;
        margin: auto;
    }
   
    input, textarea {
        border-radius: 10px;
        font-size: x-large;
    }
}


/* Desktop */
@media only screen and (min-width: 1008px) {
	main {
        max-width: 800px;
    }
}