/* Global for mobile */

.cover {
    position: relative;
    height: 200px;
    margin-bottom: 1.5em;
}
.cover_content {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 600;
}
.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Posts */
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.posts div {
    border: 0.5px solid var(--light_orange);
    border-radius: 5px;
    margin: 0.5em;
    padding: 0.5em;
    height: 200px;
}

.post-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: 1em auto;
}
.posts img {
    height: 70%;
    object-fit: cover;
}
/* carousel */
button {
    display: none;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: visible;
    
}

.next::before, .next::after, .previous::before, .previous::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    border-top: 5px solid var(--light_orange);
    border-right: 5px solid var(--light_orange);
    transition: transform 0.3s ease;
}
.next::after {
    transform: translateY(-50%) translateX(-100%) rotate(45deg);
}
.next::before {
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
.previous::before {
    transform: translateY(-50%) translateX(-50%) rotate(225deg);
}
.previous::after {
    transform: translateY(-50%) rotate(225deg);
}


/* Tablet */
@media only screen and (min-width: 641px) {
    
    .cover {
        height: 300px;
        margin-bottom: 2em;
    }
    
    .cover_content p {
        font-size: 1.5rem;
    }
    /* Posts */
    .posts {
        grid-template-columns: repeat(3, 1fr);
       
    }
    .posts div {
        height: 300px;
    
    }
    button {
        display: block;
      
    }
   
    
}

/* Desktop */
@media only screen and (min-width: 1008px) {
 
    .cover {
        height: 500px;
        margin-bottom: 3em;
    }
   
    /* Posts */
    .posts {
        grid-template-columns: repeat(4, 1fr);
       
    }
    .cover_content p {
        font-size: 2.5rem;
    }
   
}