/* Global for mobile */

.cover {
    position: relative;
    height: 200px;
    margin-bottom: 1.5em;

}
.cover_content {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--dark_orange);
    font-weight: 800;
}
.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}
/* Posts */
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: none;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    /* transform: translateX(0); */
   
}

.posts div {
    border: 0.5px solid var(--light_orange);
    border-radius: 5px;
    margin: 0.5em;
    padding: 0.5em;
    height: 200px;
}
.posts div:hover {
    border: 2px solid #BA3B0A;
    color: #BA3B0A;
}

.posts img {
    height: 70%;
    object-fit: cover;
}
/* carousel */
button {
    background-color: rgba(255, 255, 255, 0.8);
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    display: none;
}

.post-container {
    position: relative;
}

.next {
   right: -0.5%;
}
.previous {
    left: -0.5%;
}



.next::before, .next::after, .previous::before, .previous::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    border-top: 5px solid #BA3B0A;
    border-right: 5px solid #BA3B0A;
    transition: transform 0.3s ease;
}
.next::after {
    transform: translateY(-50%) translateX(-100%) rotate(45deg);
}
.next::before {
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
.previous::before {
    transform: translateY(-50%) translateX(-50%) rotate(225deg);
}
.previous::after {
    transform: translateY(-50%) rotate(225deg);
}
.disable {
    opacity: 0;
}
.active_button {
    display: block;
}
.posts.active {
    display: grid;
    opacity: 1;
}


/* Tablet */
@media only screen and (min-width: 641px) {
    
    .cover {
        height: 300px;
        margin-bottom: 2em;
    }
    
    .cover_content p {
        font-size: 1.5rem;
    }
    /* Posts */
    .posts {
        grid-template-columns: repeat(2, 1fr);
        max-width: 700px;
        margin: auto;
    }
    .posts div {
        height: 300px;
    }
    .next {
        right: 5%;
     }
     .previous {
         left: 5%;
     }
}

/* Desktop */
@media only screen and (min-width: 1008px) {
 
    .cover {
        height: 500px;
        margin-bottom: 3em;
    }
   
    /* Posts */
    .posts {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1400px;
    }
    .cover_content p {
        font-size: 2.5rem;
    }
    .next {
        right: -1%;
     }
     .previous {
         left: -1%;
}