/* GLobal for mobile */
main {
    text-align: center;
}
.recipes_container {
 display: grid;
 grid-template-columns: 1fr 1fr;
 
}
.thumbnail {
    margin: 0.5em;
    padding: 0.5em;
   
}
.thumbnail img {
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.recipes_container div {
    transition: 0.3s ease;
}
.recipes_container div:hover {
    transform: scale(1.03);
    color: var(--dark_orange);
    
}

/* Tablet */
@media only screen and (min-width: 641px) {
    .recipes_container {
        grid-template-columns: repeat(3, 1fr);
        
    }
    .thumbnail img {
        height: 200px;
      
    }
    
    
}

/* Desktop */
@media only screen and (min-width: 1008px) {
    .recipes_container {
        grid-template-columns: repeat(5, 1fr);
        
       }
  
}