/* GLobal for mobile */
main {
    text-align: center;
}
.recipes_container {
 display: grid;
 grid-template-columns: 1fr 1fr;
 
}
.thumbnail {
    border: 0.5px solid var(--light_orange);
    border-radius: 5px;
    margin: 0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}
.thumbnail img {
    /* overflow: hidden; */
    height: 150px;
    object-fit: cover;
}

/* Tablet */
@media only screen and (min-width: 641px) {
    .recipes_container {
        grid-template-columns: repeat(3, 1fr);
        
    }
    .thumbnail img {
        height: 200px;
      
    }
    
    
}

/* Desktop */
@media only screen and (min-width: 1008px) {
    .recipes_container {
        grid-template-columns: repeat(5, 1fr);
        
       }
  
}