/* Global for mobile */

:root {
    --orange: #BA590A;
    --dark_orange: #BA3B0A;
    --light_orange: #FFA458;
    --styling_font: 'Dancing Script', Arial, Verdana, Tahoma, Georgia, sans-serif;
    --body_font: 'Montserrat', Arial, Verdana, Tahoma, Georgia, sans-serif;
    --heading_font: 'Playfair Display', Arial, Verdana, Tahoma, Georgia, sans-serif;

}
body {
    font-family: var(--body_font);
    color: black;
    font-size: 1rem;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}
h1, h2 {
    text-transform: capitalize;
    font-family: var(--heading_font);
}
h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5em;
    
}
hr {
    border-top: 1px solid var(--dark_orange);
   
}
h2 {
    font-size: 1.3rem;
}
.styling{
    font-family: var(--styling_font);
    color: black;
    font-weight: 300;
}
/* Header */
header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
   
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em 0em;
    align-items: center;
}
header img, footer img {
    width: 100px;
    height: 63px;
}
.header_nav {
    justify-self: end;
}
.desktop {
    display: none;
}
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
   
}
.line {
    width: 40px;
    height: 3px;
    background-color: var(--dark_orange);
    margin: 0.3em 0em;
    border-radius: 5px;
}
.nav_list {
    display: none;
}
.hamburger_nav_list {
    display: none;
    list-style: none;
    background-color: white;
    text-align: center;
    border: 1px solid var(--dark_orange);
    border-radius: 10px;
    padding: 10px;
    margin: 0em 2em;

}
.close_hamburger {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
}
.close_line {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 3px;
    background-color: var(--dark_orange);
    transform-origin: center;
    border-radius: 5px;
}
.close_line:first-child {
    transform: rotate(45deg);
}
.close_line:last-child {
    transform: rotate(-45deg);
}
.hamburger_nav_list li {
    padding: 0.3em;
    margin-bottom: 1em;
}
.close_list {
    color: var(--dark_orange);
    font-size: 1.5rem;
}

.nav_list li:hover {
    text-decoration: underline;
}
.nav_list li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5em 1em;
    text-align: center;
}
.active_page {
    background-color: var(--light_orange);
    
}
/* Footer */
footer {
    text-align: center;
    background-color: var(--light_orange);
    padding-top: 1em;
    margin-top: 2em;
}

.footer_ending {
    background-color: var(--dark_orange);
    color: white;
    padding: 0.5em;
}
.footer_content {
    font-size: 0.6rem;
    display: flex;
    text-align: left;
    justify-content: center;
}
/* CTA button */
.cta {
    background-color: var(--dark_orange);
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 1rem;
    color: white;
}
.cta:hover {
    background-color: var(--light_orange);
    cursor: pointer;
}
.loader {
    color: var(--dark_orange);
    text-align: center;
}

.error {
    color: red;
    font-size: 0.7rem;
}

/* Tablet */
@media only screen and (min-width: 641px) {
    body {
        font-size: 1.3rem;
    }
    h1 {
        font-size: 2rem;
    }
    h2, .cta {
        font-size: 1.7rem;
    }
    .desktop {
        display: block;
    }
   .mobile, .hamburger_nav_list {
    display: none;
   }
   .nav_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    background-color: transparent;
    position: static;
    }

    .nav_list li {
        font-size: 1.2rem;
    }
    footer {
        margin-top: 5em;
    }
    .footer_content {
        font-size: 0.8rem;
    }
   
    .error {
        font-size: 0.8rem;
    }
    .close_list {
       display: none;
    }
    header img, footer img {
        width: 120px;
        height: 75px;
    }
    
}

/* Desktop */
@media only screen and (min-width: 1008px) {
    body {
        max-width: 1400px;
        margin: auto;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2, .cta {
        font-size: 2rem;
    }
    header img, footer img {
        width: 150px;
        height: 94px;
    }
   
    .nav_list li {
        font-size: 1.5rem;
    }
    .footer_content {
        font-size: 1rem;
    }
    .error {
        font-size: 1rem;
    }
    
}