/* Global for mobile */
/* General */
:root {
    --orange: #BA590A;
    --dark_orange: #BA3B0A;
    --light_orange: #FFA458;
    --styling_font: 'Dancing Script', Arial, Verdana, Tahoma, Georgia, sans-serif;
    --body_font: 'Montserrat', Arial, Verdana, Tahoma, Georgia, sans-serif;
    --heading_font: 'Playfair Display', Arial, Verdana, Tahoma, Georgia, sans-serif;

}
body {
    font-family: var(--body_font);
    color: black;
    font-size: 1rem;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}
h1, h2 {
    text-transform: capitalize;
    font-family: var(--heading_font);
}
h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5em;
    /* padding: 0.5em; */
}
hr {
    border-top: 1px solid var(--dark_orange);
   
}
h2 {
    font-size: 1rem;
}
.styling{
    font-family: var(--styling_font);
    color: black;
    font-weight: 300;
}
/* Header */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 2em 2em 1em;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;

}
header img {
    width: 30%;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
   
}
.line {
    width: 40px;
    height: 3px;
    background-color: var(--dark_orange);
    margin: 0.3em 0em;
    border-radius: 5px;
}
.nav_list {
   
    display: none;
    list-style: none;
    position: fixed ;
    background-color: white;
    left: 60% ;
    padding: 0em 2em;
    z-index: 1;
    overflow: auto;
}
.close_list {
    color: var(--dark_orange);
    font-size: 1.5rem;
}
.nav_list li {
    
    margin-bottom: 1em;
}
.nav_list li:hover {
    text-decoration: underline;
}
.nav_list li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5em 1em;
}
.active_page {
    background-color: var(--light_orange);
    /* border-radius: 20px; */
}
/* Footer */
footer {
    text-align: center;
    background-color: var(--light_orange);
    padding-top: 1em;
    margin-top: 2em;
}
footer img {
    width: 25%;
}
.footer_ending {
    background-color: var(--dark_orange);
    color: white;
    padding: 0.5em;
}
.footer_content {
    font-size: 0.6rem;
    display: flex;
    text-align: left;
    justify-content: center;
}
/* CTA button */
.cta {
    background-color: var(--dark_orange);
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 1rem;
    color: white;
}
.cta:hover {
    background-color: var(--light_orange);
    /* color: black; */
    cursor: pointer;
}
.loader {
    color: var(--dark_orange);
    text-align: center;
}

.error {
    color: red;
    font-size: 0.7rem;

}



/* Tablet */
@media only screen and (min-width: 641px) {
    body {
        font-size: 1.3rem;
    }
    h1 {
        font-size: 2rem;
    }
    h2, .cta {
        font-size: 1.3rem;
    }
   .hamburger {
    display: none;
   }
   .nav_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    background-color: transparent;
    position:static;
    }
    header img {
        width: 80%;
    }
    .nav_list li {
        font-size: 1.2rem;
    }
    footer {
        margin-top: 5em;
    }
    .footer_content {
        font-size: 0.8rem;
    }
    footer img {
        width: 15%;
    }
    .error {
        font-size: 0.8rem;
    }
    .close_list {
       display: none;
    }
    
}

/* Desktop */
@media only screen and (min-width: 1008px) {
    body {
        max-width: 1400px;
        margin: auto;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2, .cta {
        font-size: 1.5rem;
    }
    header img {
        width: 50%;
    }
   
    .nav_list li {
        font-size: 1.5rem;
    }
    .footer_content {
        font-size: 1rem;
    }
    .error {
        font-size: 1rem;
    }
    
}